.body {
    background-color: skyblue;
}

.header {
    display: flex;
    /* height: 120px; */
    border: solid palevioletred;
    color: cyan;
    background-color: palevioletred;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.links {
    display: flex;
   flex-direction: row;
   align-items: center;
}

.home {
    margin-right: 40px;
    cursor: pointer;
}
.store {
    margin-right: 40px;
    cursor: pointer;
}
.customer-service {
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
}

.help-button {
    display: flex;
    margin-bottom: 100px;
}

.outer-box {
    display: flex;
    flex-direction: column;
}
.people {
    display: flex;
    flex-direction: row;
}

.mugshot {
    display: flex;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}
.muggingshot {
    display: flex;
    height: 100px;
    width: 100px;
}

.first {
    display: flex;
    flex-direction: column;
}
.second {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}