.body {
    background-color: white;
}

.header {
    display: flex;
    height: 120px;
    border: solid palevioletred;
    color: cyan;
    background-color: palevioletred;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

.links {
    display: flex;
   flex-direction: row;
   align-items: center;
}

.home {
    margin-right: 40px;
    cursor: pointer;
}
.guide {
    margin-right: 40px;
    cursor: pointer;
}
.customer-service {
    margin-right: 40px;
    cursor: pointer;
}
.tech-help {
    margin-right: 40px;
    cursor: pointer;
}

.extra {
    cursor: pointer;
  margin-right: 40px;
}

.ans-1 {
    display: flex;
    margin-left: 40px;
}
.ans-2 {
    display: flex;
    margin-left: 40px;
}