body {
    background-color: red;
    
   
}

.header{
    display: flex;
    height: 120px;
    border: solid palevioletred;
    color: cyan;
    background-color: palevioletred;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.start-text {
    cursor: default;
}

.fish {

    color: cyan;
}

.elmo {
    height: 250px;
    width: 500px;
    display: flex;
  
}

.links {
    display: flex;
   flex-direction: row;
   align-items: center;
}

 #burger {
    font-size: 40px;
    display: none;
}

.dropbtn {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100px;
    background-color: cadetblue;
    color: aqua;
    display: none;
}

.dropdown {
display: none;
}
#drop-down {
    display: none;
}

.store {
    margin-right: 40px;
    cursor: pointer;
}
.guide {
    margin-right: 40px;
    cursor: pointer;
}
.customer-service {
    margin-right: 40px;
    cursor: pointer;
}
.tech-help {
    margin-right: 40px;
    cursor: pointer;
}

.extra {
    cursor: pointer;
  margin-right: 40px;
}

.ssc {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    align-self: center;
   margin-left: 100px;
   cursor: text;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    border: solid greenyellow;
    background-color: greenyellow;
    color: red;
}

.button { 
    cursor: pointer;
}



.elm-1 {
display: flex;
justify-content: end;
align-self: flex-end;
align-items: end;
}

.elm-2 {
  display: flex;
  margin-right: 400px;
}

.icons {
    display: flex;
   cursor: pointer;
   flex-direction: column;

}

@media (max-width: 700px) {
    .links {
        display: none;
    }
    #burger {
       display: block;
    }
   .dropdown {
    display: block;
   } 
   
}