body {
    background-color: purple;
}

.header {
    display: flex;
    height: 120px;
    border: solid palevioletred;
    color: cyan;
    background-color: palevioletred;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.links {
    display: flex;
   flex-direction: row;
   align-items: center;
}

.home {
    margin-right: 40px;
    cursor: pointer;
}
.guide {
    margin-right: 40px;
    cursor: pointer;
}
.customer-service {
    margin-right: 40px;
    cursor: pointer;
}
.tech-help {
    margin-right: 40px;
    cursor: pointer;
}

.extra {
    cursor: pointer;
  margin-right: 40px;
}

.car-discriptor {
    font-size: xx-large;
}
.footer {
    display: flex;
    border: solid greenyellow;
    background-color: greenyellow;
    flex-direction: row;
}
.icons {
    display: flex;
    flex-direction: column;
}