body {
    background-color: purple;
}

.header {
    display: flex;
    height: 120px;
    border: solid palevioletred;
    color: cyan;
    background-color: palevioletred;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.links {
    display: flex;
   flex-direction: row;
   align-items: center;
}

.home {
    margin-right: 40px;
    cursor: pointer;
}
.store {
    margin-right: 40px;
    cursor: pointer;
}
.customer-service {
    margin-right: 40px;
    margin-left: 40px;
    cursor: pointer;
}
.tech-help {
    margin-right: 40px;
    cursor: pointer;
}

.extra {
    cursor: pointer;
  margin-right: 40px;
}

.car-discriptor {
    font-size: xx-large;
}
.footer {
    display: flex;
    border: solid greenyellow;
    background-color: greenyellow;
    flex-direction: row;
}
.icons {
    display: flex;
    flex-direction: column;
}

.main-passage {
    display: flex;
    flex-direction: row;
}

.about-us {
    color: blueviolet;
    
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}